<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-5">
      <h4>In which country are you based?</h4>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="MX"
          [formControl]="radioControl"
        />
        <label class="form-check-label" for="inlineRadio1"> Mexico </label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="US"
          [formControl]="radioControl"
        />
        <label class="form-check-label" for="inlineRadio2">
          United States
        </label>
      </div>
    </div>
    <div class="col-sm-12 mb-3">
      <h5>
        We skim just
        <button class="btn btn-light pt-1 btn-sm">
          <strong>{{ comitionLabel }} {{ comitionCurrency }}</strong>
        </button>
        off each transaction and a one-time setup fee. No sneaky charges, no
        recurring costs. Here's an example:
      </h5>
    </div>
    <div class="col-sm-12">
      <label for="customRange1" class="form-label"
        >If one of your products costs:
        <span class="btn btn-light btn-sm">
          {{ priceForDisplay | currency : "USD" }} {{ comitionCurrency }}
        </span></label
      >
      <input
        type="range"
        class="form-range"
        [formControl]="inputSlider"
        [min]="minPrice"
        [max]="maxPrice"
        [value]="maxPrice"
      />
    </div>
    <div class="col-sm-12 mb-3">
      Comition:
      <span class="btn btn-light btn-sm"
        >{{ comition | currency : "USD" }} {{ comitionCurrency }}</span
      >
      <br />
      <small class="text-muted"
        >+ {{ taxTitle }}: {{ taxValue | currency : "USD" }}</small
      >
    </div>
    <div class="col-sm-12">
      You will receive in your account:
      <span class="btn btn-light btn-sm"
        ><strong
          >{{ total | currency : "USD" }} {{ comitionCurrency }}</strong
        ></span
      >
    </div>
  </div>
</div>
