<app-header></app-header>
<div
  class="d-flex justify-content-center align-items-center main-container bg-black text-white"
>
  <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
    <div class="row d-flex align-items-center justify-content-center py-vh-5">
      <div class="col-12 col-xl-10">
        <span class="h5 text-secondary fw-lighter">Our Mission</span>
        <h1 class="display-huge mt-3 mb-3 lh-1">
          We do ordinary stuff for cool people into extraordinary things
        </h1>
      </div>
      <div class="col-12 col-xl-8">
        <p class="lead text-secondary">Improving E-Commerce for All</p>
      </div>
      <div class="col-12 text-center">
        <a href="#" class="btn btn-xl btn-light"
          >Calculate your E-Commerce potential
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark text-white position-relative">
  <div class="container px-vw-5 py-vh-5">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-7">
        <app-calculator></app-calculator>
      </div>
      <div class="col-12 col-lg-5 bg-dark rounded-5 py-5">
        <h4 class="display-4">
          Just worry about your inventory, we'll take care of the rest
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark text-white position-relative">
  <div class="container py-vh-5">
    <div class="row d-flex align-items-center">
      <div class="col-12 mb-5">
        <h4 class="display-4">
          What kind of E-Commerce business do you want to run?
        </h4>
      </div>
      <div class="col-12 mt-1">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="card text-white bg-dark border-white m-2">
                <div class="card-body text-center">
                  <small>Any Store</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card text-white bg-dark border-white m-2">
                <div class="card-body text-center">
                  <small>Travel agencies</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card text-white bg-dark border-white m-2">
                <div class="card-body text-center">
                  <small>Food delivery</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card text-white bg-dark border-white m-2">
                <div class="card-body text-center">
                  <small>Fashion stores</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
